@page
@using Microsoft.AspNetCore.Http.Features
@model ProgramChangeTracker.Pages.ChangesModel
@using ProgramChangeTracker.Models

<h1>Program Changes</h1>

@if (Model.Items.Count == 0){
    <p>No change requests yet.</p>
}
else{
    <ul>
        @foreach (var item in Model.Items){
            <li>
                #@item.Id - <strong>@item.Title</strong> (@item.Status)
                @*@if(item.Status == ChangeStatus.Open)
                {
                    <form method="post" asp-page-handler="Close" style="display:inline;">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit">Close</button>
                    </form>
                }
                @if(item.Status == ChangeStatus.Closed)
                {
                    <form method="post" asp-page-handler="Reopen" style="display:inline;">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit">Reopen</button>
                    </form>
                }*@
                <form method="post" asp-page-handler="UpdateStatus" style="display:inline;">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <select name="Status" onchange="this.form.submit()">
                        <option value="" selected>Select...</option>
                        @if(item.Status == ChangeStatus.Open){

                            <option value="Open" selected)>Open</option>
                        }
                        else{

                            <option value="Open" >Open</option>
                        }
                        @if(item.Status == ChangeStatus.InReview){

                            <option value="InReview" selected)>InReview</option>
                        }
                        else{

                            <option value="InReview">InReview</option>
                        }
                        @if(item.Status == ChangeStatus.Closed){

                            <option value="Closed" selected)>Closed</option>
                        }
                        else{

                            <option value="Closed">Closed</option>
                        }
                    </select>
                </form>
                <div>@item.Description</div>
            </li>
        }
    </ul>
}

<form method="post">
    <label>Title</label><br />
    <input name="Title" /><br />
    <label>Description</label><br />
    <textarea name = "Description"></textarea><br />
    <button type="submit">Add</button>
</form>

<hr />
